* {




  margin: 0;




  padding: 0;




  color: brown;




  font-family: sans-serif;




  letter-spacing: 1px;




  font-weight: 300;




}







body {




  overflow-x: hidden;




}







nav {




  height: 6rem;




  width: 100vw;




  background-color: #02f7d6;




  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);




  display: flex;




  position: fixed;




  z-index: 10;




}







/*Styling logo*/




.logo {

  padding-left: 100px;

  text-align: center;

}







.logo img {




  height: 9rem;




  width: 9rem;




}







/*Styling Links*/




.nav-links {




  display: flex;




  list-style: none;




  width: 88vw;




  padding: 0 0.7vw;




  justify-content: space-evenly;




  align-items: center;






}







.nav-links li a {




  text-decoration: none;




  margin: 0 0.7vw;




}







.nav-links li a:hover {




  color: beige;




}







.nav-links li {




  position: relative;




}







.nav-links li a:hover::before {




  width: 80%;




}







/*Styling Hamburger Icon*/




.hamburger div {




  width: 30px;




  height: 3px;




  background: #f2f5f7;




  margin: 5px;




  transition: all 0.3s ease;




}







.hamburger {




  display: none;




}







/*Stying for small screens*/




@media screen and (max-width: 800px) {




  nav {




    position: fixed;




    z-index: 3;




  }







  .hamburger {




    display: block;




    position: absolute;




    cursor: pointer;




    right: 5%;




    top: 50%;




    transform: translate(-5%, -50%);




    z-index: 2;




    transition: all 0.7s ease;




  }







  .nav-links {




    position: fixed;




    background: #02f7d6;




    height: 100vh;




    width: 100%;




    flex-direction: column;




    clip-path: circle(50px at 90% -20%);




    -webkit-clip-path: circle(50px at 90% -10%);




    transition: all 1s ease-out;




    pointer-events: none;




  }







  .nav-links.open {




    clip-path: circle(1000px at 90% -10%);




    -webkit-clip-path: circle(1000px at 90% -10%);




    pointer-events: all;




  }







  .nav-links li {




    opacity: 0;




  }







  .nav-links li:nth-child(1) {




    transition: all 0.5s ease 0.2s;




  }







  .nav-links li:nth-child(2) {




    transition: all 0.5s ease 0.4s;




  }







  .nav-links li:nth-child(3) {




    transition: all 0.5s ease 0.6s;




  }







  .nav-links li:nth-child(4) {




    transition: all 0.5s ease 0.7s;




  }







  .nav-links li:nth-child(5) {




    transition: all 0.5s ease 0.8s;




  }







  .nav-links li:nth-child(6) {




    transition: all 0.5s ease 0.9s;




    margin: 0;




  }







  .nav-links li:nth-child(7) {




    transition: all 0.5s ease 1s;




    margin: 0;




  }







  li.fade {




    opacity: 1;




  }




}







/*Animating Hamburger Icon on Click*/




.toggle .line1 {




  transform: rotate(-45deg) translate(-5px, 6px);




}







.toggle .line2 {




  transition: all 0.7s ease;




  width: 0;




}







.toggle .line3 {




  transform: rotate(45deg) translate(-5px, -6px);




}







html,







body,







div,







p,







ul,







li {







  font-size: 100%;







  font-family: 'Old Standard TT', serif;







  vertical-align: baseline;







  font-weight: 100;




  background-color: #02f7d6;





}




.logo-top {







  width: 750px;







  height: auto;







}










tr {







  border-width: 5px;







  text-align: center;







}










td {







  border-width: 5px;







  font-size: 50px;







  border: 1px;







  border-color: #01B1AF;







}




.sessions {







  font-size: 70px;







}








.bio {







  text-align: left;







  font-size: 30px;







}








.buisness-bio {







  text-align: right;







  font-size: 30px;




  font-family: 'applechancery';




}








.home-text {







  text-align: center;




  font-size: 45px;




  font-family: 'Tangerine';




}








.home-body {







  text-align: center;




  font-size: 23px;




  font-family: 'applechancery';








}




.about-picture {







  width: 900px;







  height: 650px;







  padding-left: 150px;







}




.logo-text {







  font-family: 'Tangerine';







  font-size: 40px;




  text-align: right;




  padding-left: 10px;

}







/* Three image containers (use 25% for four, and 50% for two, etc) */




.column {




  float: left;

  width: 22%;

  margin: 60px;

}









/* Clear floats after image containers */




.row::after {

  flex-direction: column;

  content: "";




  clear: both;




  display: table;




}



h1 {




  font-family: 'Tangerine';




  text-align: center;




}







h2 {




  font-family: 'Tangerine';




  text-align: center;




}







.large {




  font-size: 19px;



}







.aimg {




  width: 500px;




  height: auto;




  display: block;




  margin-left: auto;




  margin-right: auto;




  width: 50%;




}




p {




  text-align: center;




}





.ultralarge {




  font-size: 50px;




}




.fifty {




  width: 60%;




  height: auto;




  display: block;




  margin-left: auto;




  margin-right: auto;




}




* {

  box-sizing: border-box;

}

/* helps the arrows and allows horizonal and vertical images on the same page insted of just doing container tag like this: 
  
  .imageshow-container-horizonal { 
  
    max-width: 500px; 
  
    position: relative; 
  
    margin: auto; 
  
  } 
  
  .imageshow-container-vertical { 
  
    max-width: 370px; 
  
    position: relative; 
  
    margin: auto; */




#vertical {

  max-width: 370px;

  position: relative;

  margin: auto;

}




#horizonal {

  max-width: 700px;

  position: relative;

  margin: auto;

}




.images {

  display: none;

}




.prev,

.next {

  cursor: pointer;

  position: absolute;

  top: 50%;

  width: auto;

  margin-top: -52px;

  padding: 16px;

  color: red;

  opacity: .8;

  font-weight: bold;

  font-size: 50px;

  transition: 0.4s ease;

  border-radius: 0 3px 3px 0;

  user-select: none;

}




.next {

  right: 0;

  border-radius: 3px 0 0 3px;

}




.prev:hover,

.next:hover {

  color: rgba(255, 0, 0, 0.8);

}






.caption {

  color: #f2f2f2;

  font-size: 15px;

  padding: 8px 12px;

  position: absolute;

  bottom: 8px;

  width: 100%;

  text-align: center;

}




.numbers {

  color: #f2f2f2;

  font-size: 12px;

  padding: 8px 12px;

  position: absolute;

  top: 0;

}




.spot {

  cursor: pointer;

  height: 15px;

  width: 15px;

  margin: 0 2px;

  background-color: #f00;

  border-radius: 50%;

  display: inline-block;

  transition: background-color 0.6s ease;

}




.spot:hover {

  background-color: #fa0;

}




.active {

  background-color: #0a0;

}




.fade {

  -webkit-animation-name: fade;

  -webkit-animation-duration: 3.5s;

  animation-name: fade;

  animation-duration: 3.5s;

}





@-webkit-keyframes fade {

  from {

    opacity: 0.4;

  }




  to {

    opacity: 1;

  }

}




@keyframes fade {

  from {

    opacity: 0.4;

  }




  to {

    opacity: 1;

  }

}

@media screen and (max-width: 600px) {




  .prev,

  .next {

    margin-top: -22px;

    font-size: 16px;

  }

}
.about-text{ 
  margin-left: 35px;
  margin-right: 35px;
}
.limbo-margins{
  margin-left: 150px
}