html, body, div, p, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Serif';
    font-weight: 100;
    
  } 
  .nav-link {
    color: #BADA55;
    text-decoration: none;
  }
  .logo{
  width: 180px;
  box-align: right;
  }
  
  .navbar {
    background: #01B1AF;
    height: 90px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  .dropdown-item{
    color:#BADA55;
    background-color:#9A7DB8;
  }
  .nav-link:hover {
    background: #9A7DB8;
    transition: background .3s;
    color: #BADA55;
  }
  .dropdown-item{
    text-align: left;
  }
  .dropdown-item:hover {
    background: #01B1AF;
    transition: background .3s;
    color: #BADA55;
  }
  .nav-item{
    padding: 0 30px;
    
  }
  .logo{
    width: 70px;
    height: auto;
  }
  tr{
    border-width: 5px;
    text-align: center;
  }
  td{
    border-width: 5px;
  }
  table{
    border-width: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  .sessions{
    font-size: 70px;
  }
  .carousel-item{
    width:100%;
    height:500px;
    margin-right: auto;
    margin-left: auto;
  }
  #carouselIndicators{
    color: red;
    margin-right: auto;
    margin-left: 500px;
  }

 