html, body, div, p, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Serif';
    font-weight: 100;
  }
  .nav {
    background: #01B1AF;
    height: 90px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
  }
  .nav li {
    display: inline-block;
    list-style: none;
    height: 80px;
    line-height: 60px; 
    padding: 0 60px;
  }
  .nav li:hover {
    background: #9A7DB8;
    transition: background .3s;
  }
  .nav-link {
    color: #BADA55;
    text-decoration: none;
  }
  .logo{
  width: 180px;
  align: right;
  }